<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fa100004-0000-0000-0000-000000000004" Alias="footerGroup" Level="1">
  <Info>
    <Name>Footer Group</Name>
    <Icon>icon-navigation</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[A footer column: a heading, a type (nav links vs left/right social sign-post), and its links.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fa100004-0001-0001-0000-000000000001</Key>
      <Name>Group Heading</Name>
      <Alias>footerGroupHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Column heading, e.g. Quick Links, Community, Support, Follow Us]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa100004-0002-0001-0000-000000000002</Key>
      <Name>Group Type</Name>
      <Alias>footerGroupType</Alias>
      <Definition>fa100001-0000-0000-0000-000000000001</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[links = text nav column; socialLeft / socialRight = the left / right social sign-post rendered as brand icons]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa100004-0003-0001-0000-000000000003</Key>
      <Name>Links</Name>
      <Alias>footerGroupLinks</Alias>
      <Definition>fa100002-0000-0000-0000-000000000002</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Each link is a CTA Block. For social groups, use the platform name (Facebook / Instagram / X) as the label.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>
