<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3f00001-0000-0000-0000-000000000001" Alias="gamesFolder" Level="1">
  <Info>
    <Name>Games Folder</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Container for Game content nodes</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="594c9491-df9d-4329-9c48-d255ca3d120d" SortOrder="0">home</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c3f00001-0001-0001-0000-000000000001</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>f4b0000b-0000-0000-0000-00000000000b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page-level chrome (hero, intro, CTAs) shown around the games listing.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>
