<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00054-0000-0000-0000-000000000054" Alias="character" Level="3">
  <Info>
    <Parent Key="f1a00013-0000-0000-0000-000000000013">Characters</Parent>
    <Path>/Home/Characters/Ellie</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>character</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Ellie" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Ellie]]></Value>
    </characterName>
    <characterRole>
      <Value><![CDATA[Smart Trickster]]></Value>
    </characterRole>
    <characterImage>
      <Value><![CDATA[[{"key":"3ac8f0c8-4c9b-a54a-997d-e4928d01ff88","mediaKey":"d96668a9-85c9-cb4a-9908-61007c0d1eb7","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </characterImage>
    <characterDescription>
      <Value><![CDATA[Ellie has a clever trick for every problem. Resourceful and quick-witted, she's the puzzle-solver of the group.]]></Value>
    </characterDescription>
    <characterAccentColor>
      <Value><![CDATA[#A78BFA]]></Value>
    </characterAccentColor>
  </Properties>
</Content>
