<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00050-0000-0000-0000-000000000050" Alias="character" Level="3">
  <Info>
    <Parent Key="f1a00013-0000-0000-0000-000000000013">Characters</Parent>
    <Path>/Home/Characters/Little Jack</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>character</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Little Jack" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Little Jack]]></Value>
    </characterName>
    <characterRole>
      <Value><![CDATA[Curious Kid]]></Value>
    </characterRole>
    <characterImage>
      <Value><![CDATA[[{"key":"632a841a-1bb9-1d40-bbd4-1dffe6107940","mediaKey":"01b373b8-28d5-154c-b63a-b460090e781b","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </characterImage>
    <characterDescription>
      <Value><![CDATA[Little Jack is the heart of the Moo Family. Always curious, always asking the next question, always ready for an adventure.]]></Value>
    </characterDescription>
    <characterAccentColor>
      <Value><![CDATA[#3FBDF1]]></Value>
    </characterAccentColor>
  </Properties>
</Content>
