<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00055-0000-0000-0000-000000000055" Alias="character" Level="3">
  <Info>
    <Parent Key="f1a00013-0000-0000-0000-000000000013">Characters</Parent>
    <Path>/Home/Characters/Lulu</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>character</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Lulu" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Lulu]]></Value>
    </characterName>
    <characterRole>
      <Value><![CDATA[Kind Heart]]></Value>
    </characterRole>
    <characterImage>
      <Value><![CDATA[[{"key":"e6d0795e-c929-e748-939f-bd119323bd36","mediaKey":"fc94ad7d-6e17-d742-90e3-f2ccce286259","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </characterImage>
    <characterDescription>
      <Value><![CDATA[Lulu reminds everyone that kindness goes a long way. Gentle, thoughtful, and always there for her friends.]]></Value>
    </characterDescription>
    <characterAccentColor>
      <Value><![CDATA[#7DD3C0]]></Value>
    </characterAccentColor>
  </Properties>
</Content>
