<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00052-0000-0000-0000-000000000052" Alias="character" Level="3">
  <Info>
    <Parent Key="f1a00013-0000-0000-0000-000000000013">Characters</Parent>
    <Path>/Home/Characters/Milo</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>character</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Milo" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Milo]]></Value>
    </characterName>
    <characterRole>
      <Value><![CDATA[Funny Friend]]></Value>
    </characterRole>
    <characterImage>
      <Value><![CDATA[]]></Value>
    </characterImage>
    <characterDescription>
      <Value><![CDATA[Milo brings the laughs. His funny mistakes always teach a clever lesson by the end.]]></Value>
    </characterDescription>
    <characterAccentColor>
      <Value><![CDATA[#FFD96B]]></Value>
    </characterAccentColor>
  </Properties>
</Content>
