<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00053-0000-0000-0000-000000000053" Alias="character" Level="3">
  <Info>
    <Parent Key="f1a00013-0000-0000-0000-000000000013">Characters</Parent>
    <Path>/Home/Characters/Tina</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>character</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Tina" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <characterName>
      <Value><![CDATA[Tina]]></Value>
    </characterName>
    <characterRole>
      <Value><![CDATA[Fast Learner]]></Value>
    </characterRole>
    <characterImage>
      <Value><![CDATA[]]></Value>
    </characterImage>
    <characterDescription>
      <Value><![CDATA[Tina loves a fast challenge — alphabets, numbers, you name it. Her energy is contagious.]]></Value>
    </characterDescription>
    <characterAccentColor>
      <Value><![CDATA[#FF87A3]]></Value>
    </characterAccentColor>
  </Properties>
</Content>
