<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00032-0000-0000-0000-000000000032" Alias="story" Level="3">
  <Info>
    <Parent Key="f1a00011-0000-0000-0000-000000000011">Stories</Parent>
    <Path>/Home/Stories/Coconut Madness</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>story</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Coconut Madness" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <storyTitle>
      <Value><![CDATA[Coconut Madness]]></Value>
    </storyTitle>
    <storyDescription>
      <Value><![CDATA[What NOT to do with a coconut!]]></Value>
    </storyDescription>
    <storyThumbnail>
      <Value><![CDATA[]]></Value>
    </storyThumbnail>
    <storyVideoUrl>
      <Value><![CDATA[https://www.youtube.com/watch?v=dQw4w9WgXcQ]]></Value>
    </storyVideoUrl>
    <storyDuration>
      <Value><![CDATA[125]]></Value>
    </storyDuration>
    <storyTags>
      <Value><![CDATA[["Cow Paradise"]]]></Value>
    </storyTags>
    <storyCategory>
      <Value><![CDATA[["Quick Learning Stories"]]]></Value>
    </storyCategory>
  </Properties>
</Content>
