<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00034-0000-0000-0000-000000000034" Alias="story" Level="3">
  <Info>
    <Parent Key="f1a00011-0000-0000-0000-000000000011">Stories</Parent>
    <Path>/Home/Stories/Milos Funny Mistake</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>story</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Milos Funny Mistake" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <storyTitle>
      <Value><![CDATA[Milo's Funny Mistake]]></Value>
    </storyTitle>
    <storyDescription>
      <Value><![CDATA[A funny moment with Milo from the Moo Family.]]></Value>
    </storyDescription>
    <storyThumbnail>
      <Value><![CDATA[]]></Value>
    </storyThumbnail>
    <storyVideoUrl>
      <Value><![CDATA[https://www.youtube.com/watch?v=dQw4w9WgXcQ]]></Value>
    </storyVideoUrl>
    <storyDuration>
      <Value><![CDATA[35]]></Value>
    </storyDuration>
    <storyTags>
      <Value><![CDATA[["Moo Family"]]]></Value>
    </storyTags>
    <storyCategory>
      <Value><![CDATA[["Moo Shorts"]]]></Value>
    </storyCategory>
  </Properties>
</Content>
