<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ac2efec-d501-9f4f-ba3b-8021a4804979" Alias="short" Level="3">
  <Info>
    <Parent Key="f1a00015-0000-0000-0000-000000000015">Shorts</Parent>
    <Path>/Home/Shorts/Short 14</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>short</ContentType>
    <CreateDate>2026-05-28T20:00:00</CreateDate>
    <NodeName Default="Short 14" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <shortTitle>
      <Value><![CDATA[Short 14]]></Value>
    </shortTitle>
    <shortYoutubeId>
      <Value><![CDATA[lk8ASXS-Ic4]]></Value>
    </shortYoutubeId>
    <shortDescription>
      <Value><![CDATA[Cow Paradise short clip 14. Replace this title and description from the backoffice.]]></Value>
    </shortDescription>
    <shortCategory>
      <Value><![CDATA[["Cow Paradise Shorts"]]]></Value>
    </shortCategory>
  </Properties>
</Content>