<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4624559-1d8d-264b-aa54-d5cfd2dc55ee" Alias="short" Level="3">
  <Info>
    <Parent Key="f1a00015-0000-0000-0000-000000000015">Shorts</Parent>
    <Path>/Home/Shorts/Short 03</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>short</ContentType>
    <CreateDate>2026-05-28T20:00:00</CreateDate>
    <NodeName Default="Short 03" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <shortTitle>
      <Value><![CDATA[Short 03]]></Value>
    </shortTitle>
    <shortYoutubeId>
      <Value><![CDATA[MYl5Sihfi2Y]]></Value>
    </shortYoutubeId>
    <shortDescription>
      <Value><![CDATA[Cow Paradise short clip 3. Replace this title and description from the backoffice.]]></Value>
    </shortDescription>
    <shortCategory>
      <Value><![CDATA[["Cow Paradise Shorts"]]]></Value>
    </shortCategory>
  </Properties>
</Content>