<?xml version="1.0" encoding="utf-8"?>
<Content Key="0739d741-401a-164b-8915-76acde374d43" Alias="short" Level="3">
  <Info>
    <Parent Key="f1a00015-0000-0000-0000-000000000015">Shorts</Parent>
    <Path>/Home/Shorts/Short 06</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>short</ContentType>
    <CreateDate>2026-05-28T20:00:00</CreateDate>
    <NodeName Default="Short 06" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <shortTitle>
      <Value><![CDATA[Short 06]]></Value>
    </shortTitle>
    <shortYoutubeId>
      <Value><![CDATA[WC0SFtTKsic]]></Value>
    </shortYoutubeId>
    <shortDescription>
      <Value><![CDATA[Cow Paradise short clip 6. Replace this title and description from the backoffice.]]></Value>
    </shortDescription>
    <shortCategory>
      <Value><![CDATA[["Cow Paradise Shorts"]]]></Value>
    </shortCategory>
  </Properties>
</Content>