<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ddf3b02-60f8-8f48-9e3a-0504f99f2d50" Alias="short" Level="3">
  <Info>
    <Parent Key="f1a00015-0000-0000-0000-000000000015">Shorts</Parent>
    <Path>/Home/Shorts/Short 17</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>short</ContentType>
    <CreateDate>2026-05-28T20:00:00</CreateDate>
    <NodeName Default="Short 17" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <shortTitle>
      <Value><![CDATA[Short 17]]></Value>
    </shortTitle>
    <shortYoutubeId>
      <Value><![CDATA[pMgbrxNSOac]]></Value>
    </shortYoutubeId>
    <shortDescription>
      <Value><![CDATA[Cow Paradise short clip 17. Replace this title and description from the backoffice.]]></Value>
    </shortDescription>
    <shortCategory>
      <Value><![CDATA[["Cow Paradise Shorts"]]]></Value>
    </shortCategory>
  </Properties>
</Content>