<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec547085-2535-b942-b3cb-3f31b0498b86" Alias="short" Level="3">
  <Info>
    <Parent Key="f1a00015-0000-0000-0000-000000000015">Shorts</Parent>
    <Path>/Home/Shorts/Short 15</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>short</ContentType>
    <CreateDate>2026-05-28T20:00:00</CreateDate>
    <NodeName Default="Short 15" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <shortTitle>
      <Value><![CDATA[Short 15]]></Value>
    </shortTitle>
    <shortYoutubeId>
      <Value><![CDATA[op3qTKf1J4U]]></Value>
    </shortYoutubeId>
    <shortDescription>
      <Value><![CDATA[Cow Paradise short clip 15. Replace this title and description from the backoffice.]]></Value>
    </shortDescription>
    <shortCategory>
      <Value><![CDATA[["Cow Paradise Shorts"]]]></Value>
    </shortCategory>
  </Properties>
</Content>