<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00020-0000-0000-0000-000000000020" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/Cow Run</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Cow Run" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[COWRUN]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Dash, drift, and jump through crazy tracks with the Moo Family in this high-energy racing adventure.]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"68c613e2-83db-7844-9530-766fe73b17ca","mediaKey":"e3b37171-7225-5e4f-b221-7739512a4154","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Released"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["Browser","PC"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Racing"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Single Player"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://play.google.com/store/apps/details?id=com.CowParadise.CowRun&pcampaignid=web_share]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/cow-run]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[1]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
