<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a0002a-0000-0000-0000-00000000002a" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/Flying Moo</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-28T20:00:00</CreateDate>
    <NodeName Default="Flying Moo" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[FLYING MOO]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Soar through the clouds, dodge obstacles, and collect stars with the Moo Family in this sky-high arcade adventure.]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"b7edd424-84e7-d046-8525-3fedb1df08c6","mediaKey":"57c9f2eb-0d6e-1c41-9166-f36170f78c56","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Coming Soon"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["Browser","Google Play"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Arcade"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Single Player"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/flying-moo]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/flying-moo]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[0]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
