<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00022-0000-0000-0000-000000000022" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/Moo Crush</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Moo Crush" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[MOOCRUSH]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Smash, crush, and clear the board — fun, strategy, and rewards collide in MooCrush.]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"d7d29132-41c6-f544-94e3-150c1bf09749","mediaKey":"814a7f9b-f9a7-6949-ab5a-9d75960ccb8e","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Coming Soon"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["Google Play","Apple App Store"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Puzzle"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Single Player"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-crush]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-crush]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[1]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
