<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a0002b-0000-0000-0000-00000000002b" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/Moo Chess</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-28T20:00:00</CreateDate>
    <NodeName Default="Moo Chess" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[MOO CHESS]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Outsmart your friends in classic chess matches starring the Moo Family. Learn strategy, sharpen focus, and have fun, one move at a time.]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"c8e67af6-e544-6744-bdea-36b80ea67912","mediaKey":"813052a6-71f9-2849-ba9a-d72e00b88e81","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Coming Soon"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["Browser","PC"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Strategy"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Multiplayer"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-chess]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-chess]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[0]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
