<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00023-0000-0000-0000-000000000023" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/Moo Dash</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Moo Dash" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[MOODASH]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Sprint, dodge, and collect goodies in this fast-paced race through the heart of Cow Paradise.]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"74f76b1c-ef56-d247-a99c-693bff405823","mediaKey":"66ca08af-beda-d447-8a62-1b3030a7eee4","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Coming Soon"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["Epic Games","Browser"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Action"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Single Player"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-dash]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-dash]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[0]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
