<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00024-0000-0000-0000-000000000024" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/Moo Rash</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Moo Rash" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[MOORASH]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Get ready for wild, fast-paced chaos — MooRash turns every race into a rollercoaster of fun.]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"4067882b-7b8a-824b-82cf-84cc76eb0484","mediaKey":"22c37d11-0b00-844f-b10d-98a6304db0d6","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Coming Soon"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["Epic Games","Google Play"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Racing"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Multiplayer"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-rash]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-rash]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[0]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
