<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00025-0000-0000-0000-000000000025" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/Moo Skate</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Moo Skate" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[MOOSKATE]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Skate, flip, and glide through colorful tracks with your Moo crew in this skating challenge.]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"29ef516f-0da8-f247-952b-d43f65c271ad","mediaKey":"4e529864-b08c-e747-9f0e-94bbd06ce4dd","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Coming Soon"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["Browser"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Sports"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Both"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-skate]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-skate]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[0]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
