<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00027-0000-0000-0000-000000000027" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/MooSoccor</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="MooSoccor" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[MOOSOCCOR]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Score big, pass smart, and play as your favorite Moo stars in this action-packed soccer game.]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"33a87c63-d652-4249-8123-2f92aaeee3e0","mediaKey":"1c25271a-70a3-5346-99d2-6b08b39e9f10","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Coming Soon"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["Epic Games","Browser"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Sports"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Multiplayer"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moosoccor]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moosoccor]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[0]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
