<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00028-0000-0000-0000-000000000028" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/Moo Tag</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Moo Tag" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[MOOTAG]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Chase, tag, and outsmart friends in a playful game of MooTag — laughter guaranteed!]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"f1cef9e3-e670-fd42-9efa-c13b95a79a54","mediaKey":"0eb2aa47-be1d-7d44-9022-1b6469750757","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Coming Soon"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["Apple App Store","Google Play"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Casual"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Multiplayer"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-tag]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://cowparadisegames.com/games/moo-tag]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[0]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
