<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00029-0000-0000-0000-000000000029" Alias="game" Level="3">
  <Info>
    <Parent Key="f1a00010-0000-0000-0000-000000000010">Games</Parent>
    <Path>/Home/Games/Paintball Madness</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>game</ContentType>
    <CreateDate>2026-05-28T20:00:00</CreateDate>
    <NodeName Default="Paintball Madness" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <gameTitle>
      <Value><![CDATA[PAINTBALL MADNESS]]></Value>
    </gameTitle>
    <gameDescription>
      <Value><![CDATA[Paintball Madness by Cow Paradise is bursting onto Steam! Choose your side, splash the arena with color, and outsmart your friends in fast-paced multiplayer matches.]]></Value>
    </gameDescription>
    <gameCoverImage>
      <Value><![CDATA[[{"key":"c8439797-c454-0e44-ad54-4d186d09fb67","mediaKey":"77e6fac3-f63c-ce4d-8bbe-379c094031da","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </gameCoverImage>
    <gameStatus>
      <Value><![CDATA[["Released"]]]></Value>
    </gameStatus>
    <gamePlatforms>
      <Value><![CDATA[["PC"]]]></Value>
    </gamePlatforms>
    <gameGenre>
      <Value><![CDATA[["Action"]]]></Value>
    </gameGenre>
    <gameNumPlayers>
      <Value><![CDATA[["Multiplayer"]]]></Value>
    </gameNumPlayers>
    <gamePlayUrl>
      <Value><![CDATA[https://store.steampowered.com/app/3393780/Paintball_Madness/]]></Value>
    </gamePlayUrl>
    <gameDetailsUrl>
      <Value><![CDATA[https://store.steampowered.com/app/3393780/Paintball_Madness/]]></Value>
    </gameDetailsUrl>
    <gameIsFeatured>
      <Value><![CDATA[1]]></Value>
    </gameIsFeatured>
  </Properties>
</Content>
