<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00001-0000-0000-0000-000000000001" Alias="settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <siteName>
      <Value><![CDATA[Moo Family]]></Value>
    </siteName>
    <footerText>
      <Value><![CDATA[<p>&copy; 2026 Moo Family. Built with care for kids learning.</p>]]></Value>
    </footerText>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <socialLinks>
      <Value><![CDATA[]]></Value>
    </socialLinks>
  </Properties>
</Content>
