<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "useLabel": false,
  "items": [
    { "value": "f28c7c", "label": "Coral" },
    { "value": "3ad29f", "label": "Green" },
    { "value": "fceac9", "label": "Cream" },
    { "value": "33d2db", "label": "Teal" }
  ]
}]]></Config>
</DataType>