<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00001-0000-0000-0000-000000000001" Alias="Bullet Items - Multiple Text String" Level="1">
  <Info>
    <Name>Bullet Items - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 20,
  "min": 1
}]]></Config>
</DataType>
