<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b0000a-0000-0000-0000-00000000000a" Alias="Character - Category - Dropdown" Level="1">
  <Info>
    <Name>Character - Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Moo Family",
    "Cow Paradise"
  ],
  "multiple": false
}]]></Config>
</DataType>
