<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79f65900-adbb-4d24-8deb-e29c68cc8905" Alias="CTA Block - Style - Dropdown" Level="1">
  <Info>
    <Name>CTA Block - Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "primary",
    "secondary",
    "link"
  ]
}]]></Config>
</DataType>