<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b0000b-0000-0000-0000-00000000000b" Alias="Educational Game - Category - Dropdown" Level="1">
  <Info>
    <Name>Educational Game - Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Alphabet",
    "Words",
    "Spelling",
    "Reading",
    "Writing",
    "Numbers",
    "Brain Games",
    "Creativity"
  ],
  "multiple": false
}]]></Config>
</DataType>
