<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00004-0000-0000-0000-000000000004" Alias="Educational Games - Cards - Block List" Level="1">
  <Info>
    <Name>Educational Games - Cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f4a00024-0000-0000-0000-000000000024"
    }
  ]
}]]></Config>
</DataType>
