<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b0000a-0000-0000-0000-00000000000a" Alias="Entity Type Dropdown" Level="1">
  <Info>
    <Name>Entity Type Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "story",
    "short",
    "game",
    "newsArticle",
    "character",
    "teamMember"
  ]
}]]></Config>
</DataType>
