<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00001-0000-0000-0000-000000000001" Alias="Filter Chips - Block List" Level="1">
  <Info>
    <Name>Filter Chips - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f4a00021-0000-0000-0000-000000000021"
    }
  ]
}]]></Config>
</DataType>
