<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa100003-0000-0000-0000-000000000003" Alias="Settings - Footer Groups - Block List" Level="1">
  <Info>
    <Name>Settings - Footer Groups - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fa100004-0000-0000-0000-000000000004"
    }
  ]
}]]></Config>
</DataType>
