<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa100001-0000-0000-0000-000000000001" Alias="Footer Group - Type - Dropdown" Level="1">
  <Info>
    <Name>Footer Group - Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "links",
    "socialLeft",
    "socialRight"
  ]
}]]></Config>
</DataType>
