<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00004-0000-0000-0000-000000000004" Alias="Game - Platforms - Dropdown Multiple" Level="1">
  <Info>
    <Name>Game - Platforms - Dropdown Multiple</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Steam",
    "Epic Games",
    "Apple App Store",
    "Google Play",
    "Browser",
    "PC"
  ],
  "multiple": true
}]]></Config>
</DataType>
