<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00003-0000-0000-0000-000000000003" Alias="Game - Status - Dropdown" Level="1">
  <Info>
    <Name>Game - Status - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Released",
    "Coming Soon",
    "Early Access"
  ],
  "multiple": false
}]]></Config>
</DataType>
