<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b0000d-0000-0000-0000-00000000000d" Alias="Game - Platform - Dropdown" Level="1">
  <Info>
    <Name>Game - Platform - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Steam",
    "Epic Games",
    "Apple App Store",
    "Google Play",
    "Browser",
    "PC"
  ],
  "multiple": false
}]]></Config>
</DataType>
