<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00020-0000-0000-0000-000000000020" Alias="Game Gallery - Block List" Level="1">
  <Info>
    <Name>Game Gallery - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b6ca10b0-b095-4db6-b95f-d82e9b01bd08"
    },
    {
      "contentElementTypeKey": "e1a0000a-0000-0000-0000-00000000000a"
    },
    {
      "contentElementTypeKey": "6df1ad97-439e-4320-a22e-e3dae9f41851"
    }
  ]
}]]></Config>
</DataType>
