<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00030-0000-0000-0000-000000000030" Alias="Game In Features - Items - Block List" Level="1">
  <Info>
    <Name>Game In Features - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f4a00031-0000-0000-0000-000000000031"
    }
  ]
}]]></Config>
</DataType>
