<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00005-0000-0000-0000-000000000005" Alias="Game - Genre - Dropdown" Level="1">
  <Info>
    <Name>Game - Genre - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Action",
    "Adventure",
    "Puzzle",
    "Racing",
    "Sports",
    "Strategy",
    "Educational",
    "Casual"
  ],
  "multiple": false
}]]></Config>
</DataType>
