<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2a00005-0000-0000-0000-000000000005" Alias="Game Content Picker" Level="1">
  <Info>
    <Name>Game Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "game",
  "ignoreUserStartNodes": false,
  "maxNumber": 12,
  "minNumber": 0,
  "showOpenButton": false
}]]></Config>
</DataType>
