<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00006-0000-0000-0000-000000000006" Alias="Game - NumPlayers - Dropdown" Level="1">
  <Info>
    <Name>Game - NumPlayers - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Single Player",
    "Multiplayer",
    "Both"
  ],
  "multiple": false
}]]></Config>
</DataType>
