<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00009-0000-0000-0000-000000000009" Alias="Grid Layout Dropdown" Level="1">
  <Info>
    <Name>Grid Layout Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "grid",
    "staggered"
  ]
}]]></Config>
</DataType>
