<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc14ad93-452e-4c24-b053-1c046228ca9b" Alias="Heading Block - Level - Dropdown" Level="1">
  <Info>
    <Name>Heading Block - Level - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h1",
    "h2",
    "h3",
    "h4"
  ]
}]]></Config>
</DataType>