<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e331e622-07b2-48de-8d51-68fc285f5e5b" Alias="Heading Block - Level - Dropdown (1)" Level="1">
  <Info>
    <Name>Heading Block - Level - Dropdown (1)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h1",
    "h2",
    "h3",
    "h4"
  ]
}]]></Config>
</DataType>