<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa7af6d0-a0bc-4608-abc4-d4eec726a0bd" Alias="Heading Block New - Level - Dropdown" Level="1">
  <Info>
    <Name>Heading Block New - Level - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "h1",
    "h2",
    "h3",
    "h4"
  ]
}]]></Config>
</DataType>