<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d87a9327-792b-42d4-a031-75318d0160ef" Alias="Heading Block - Text - Multiple Text String" Level="1">
  <Info>
    <Name>Heading Block - Text - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 4,
  "min": 1
}]]></Config>
</DataType>