<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e68ca4c-2adf-495f-a97c-bdecffe09daa" Alias="Heading Block - Text - Multiple Text String (1)" Level="1">
  <Info>
    <Name>Heading Block - Text - Multiple Text String (1)</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 1,
  "min": 1
}]]></Config>
</DataType>