<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2a00001-0000-0000-0000-000000000001" Alias="Hero Carousel - Slides - Block List" Level="1">
  <Info>
    <Name>Hero Carousel - Slides - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f3a00018-0000-0000-0000-000000000018"
    }
  ]
}]]></Config>
</DataType>
