<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1e98a81-82d0-4eb5-927c-9068bdaf517a" Alias="Home - Hero Image - Media Picker" Level="1">
  <Info>
    <Name>Home - Hero Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>