<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00003-0000-0000-0000-000000000003" Alias="Icon Benefits - Items - Block List" Level="1">
  <Info>
    <Name>Icon Benefits - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f4a00023-0000-0000-0000-000000000023"
    }
  ]
}]]></Config>
</DataType>
