<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b0000c-0000-0000-0000-00000000000c" Alias="Icon Media Picker (Image or SVG)" Level="1">
  <Info>
    <Name>Icon Media Picker (Image or SVG)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "multiple": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>
