<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00008-0000-0000-0000-000000000008" Alias="Image Position Dropdown" Level="1">
  <Info>
    <Name>Image Position Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "left",
    "right"
  ]
}]]></Config>
</DataType>
