<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fe6f8c7-3612-4b86-9bb4-18e542daff9d" Alias="Image Block - Alignment - Dropdown" Level="1">
  <Info>
    <Name>Image Block - Alignment - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "left",
    "center",
    "right"
  ]
}]]></Config>
</DataType>