<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00005-0000-0000-0000-000000000005" Alias="Impact Timeline - Cards - Block List" Level="1">
  <Info>
    <Name>Impact Timeline - Cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f4a00025-0000-0000-0000-000000000025"
    }
  ]
}]]></Config>
</DataType>
