<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00002-0000-0000-0000-000000000002" Alias="Logo Strip - Items - Block List" Level="1">
  <Info>
    <Name>Logo Strip - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e1a00007-0000-0000-0000-000000000007"
    }
  ]
}]]></Config>
</DataType>
