<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00022-0000-0000-0000-000000000022" Alias="News Body Blocks - Block List" Level="1">
  <Info>
    <Name>News Body Blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f4a00033-0000-0000-0000-000000000033"
    },
    {
      "contentElementTypeKey": "b6ca10b0-b095-4db6-b95f-d82e9b01bd08"
    },
    {
      "contentElementTypeKey": "6b3cf24d-4934-4093-b793-31c417a271fa"
    }
  ]
}]]></Config>
</DataType>
