<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00007-0000-0000-0000-000000000007" Alias="News - Category - Dropdown" Level="1">
  <Info>
    <Name>News - Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Game Updates",
    "Stories & Learning",
    "Events",
    "Community",
    "Rewards"
  ],
  "multiple": false
}]]></Config>
</DataType>
