<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b0000e-0000-0000-0000-00000000000e" Alias="News - Tags - Dropdown Multiple" Level="1">
  <Info>
    <Name>News - Tags - Dropdown Multiple</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Education",
    "Music",
    "Socials",
    "Parenting",
    "Activities",
    "Early Education",
    "Creative Kids",
    "Healthy Eating",
    "Kindergarten Events"
  ],
  "multiple": true
}]]></Config>
</DataType>
