<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b0000f-0000-0000-0000-00000000000f" Alias="News - Bar Color - Color Picker" Level="1">
  <Info>
    <Name>News - Bar Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "useLabel": false,
  "items": [
    { "value": "e4572e", "label": "Highlight Red" },
    { "value": "b5a642", "label": "Olive" }
  ]
}]]></Config>
</DataType>
