<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00002-0000-0000-0000-000000000002" Alias="Numbered Benefits - Items - Block List" Level="1">
  <Info>
    <Name>Numbered Benefits - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f4a00022-0000-0000-0000-000000000022"
    }
  ]
}]]></Config>
</DataType>
