<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00007-0000-0000-0000-000000000007" Alias="Page Accordion - Items - Block List" Level="1">
  <Info>
    <Name>Page Accordion - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e1a00005-0000-0000-0000-000000000005"
    }
  ]
}]]></Config>
</DataType>
