<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b00006-0000-0000-0000-000000000006" Alias="Page Stats - Items - Block List" Level="1">
  <Info>
    <Name>Page Stats - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e1a00002-0000-0000-0000-000000000002"
    }
  ]
}]]></Config>
</DataType>
