<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2a00004-0000-0000-0000-000000000004" Alias="Powered By - Logos - Block List" Level="1">
  <Info>
    <Name>Powered By - Logos - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e1a00007-0000-0000-0000-000000000007"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 12
  }
}]]></Config>
</DataType>
