<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8dd2e96a-9d5c-4f8f-bd84-2bba9bb9f560" Alias="Settings - Footer Links - Block List" Level="1">
  <Info>
    <Name>Settings - Footer Links - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a5e996c2-c7e5-4e1e-a69a-12332079a5e4"
    },
    {
      "contentElementTypeKey": "209a94db-b3f5-43c7-81d6-8afacdd0432a"
    }
  ]
}]]></Config>
</DataType>