<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31402cfc-6cc7-4a69-b1be-3d84951bed42" Alias="Settings - Social Links - Block List" Level="1">
  <Info>
    <Name>Settings - Social Links - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a5e996c2-c7e5-4e1e-a69a-12332079a5e4"
    }
  ]
}]]></Config>
</DataType>