<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00009-0000-0000-0000-000000000009" Alias="Story - Tags - Dropdown Multiple" Level="1">
  <Info>
    <Name>Story - Tags - Dropdown Multiple</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Cow Paradise",
    "Moo Family"
  ],
  "multiple": true
}]]></Config>
</DataType>
