<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2b00008-0000-0000-0000-000000000008" Alias="Story - Category - Dropdown" Level="1">
  <Info>
    <Name>Story - Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Quick Learning Stories",
    "Moo Shorts",
    "Cow Paradise Shorts"
  ],
  "multiple": false
}]]></Config>
</DataType>
