<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4b0000e-0000-0000-0000-00000000000e" Alias="Team Member Content Picker" Level="1">
  <Info>
    <Name>Team Member Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "teamMember",
  "ignoreUserStartNodes": false,
  "maxNumber": 20,
  "minNumber": 0,
  "showOpenButton": false
}]]></Config>
</DataType>
