<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2a00003-0000-0000-0000-000000000003" Alias="What Is - Bullets - Block List" Level="1">
  <Info>
    <Name>What Is - Bullets - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f3a00019-0000-0000-0000-000000000019"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 6
  }
}]]></Config>
</DataType>
