<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2a00002-0000-0000-0000-000000000002" Alias="What Is - Stats - Block List" Level="1">
  <Info>
    <Name>What Is - Stats - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e1a00002-0000-0000-0000-000000000002"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 4
  }
}]]></Config>
</DataType>
