<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00060-0000-0000-0000-000000000060" Alias="teamMember" Level="3">
  <Info>
    <Parent Key="f1a00014-0000-0000-0000-000000000014">Team</Parent>
    <Path>/Home/Team/John Paul Morris</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="John Paul Morris" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <memberName>
      <Value><![CDATA[John Paul Morris]]></Value>
    </memberName>
    <memberRole>
      <Value><![CDATA[CEO]]></Value>
    </memberRole>
    <memberPhoto>
      <Value><![CDATA[[{"key":"cc89a211-b746-7448-b5f1-cd61d4c53c85","mediaKey":"3720422a-c2cd-994b-8a73-1453e3cc882a","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </memberPhoto>
    <memberBio>
      <Value><![CDATA[Founder and CEO of Cow Paradise. Drives the vision of merging play, learning, and storytelling into one universe.]]></Value>
    </memberBio>
  </Properties>
</Content>
