<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00061-0000-0000-0000-000000000061" Alias="teamMember" Level="3">
  <Info>
    <Parent Key="f1a00014-0000-0000-0000-000000000014">Team</Parent>
    <Path>/Home/Team/Joseph Pascal</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Joseph Pascal" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <memberName>
      <Value><![CDATA[Joseph Pascal]]></Value>
    </memberName>
    <memberRole>
      <Value><![CDATA[CTO]]></Value>
    </memberRole>
    <memberPhoto>
      <Value><![CDATA[[{"key":"c41ce185-61e8-7e41-adc1-2afede3a2ef2","mediaKey":"e87b4597-067a-1442-8b89-2ac1be5e5ee2","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </memberPhoto>
    <memberBio>
      <Value><![CDATA[Chief Technology Officer. Builds the multiplayer infrastructure and content pipelines behind Cow Paradise.]]></Value>
    </memberBio>
  </Properties>
</Content>
