<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00064-0000-0000-0000-000000000064" Alias="teamMember" Level="3">
  <Info>
    <Parent Key="f1a00014-0000-0000-0000-000000000014">Team</Parent>
    <Path>/Home/Team/Robin Haefeil</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Robin Haefeil" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <memberName>
      <Value><![CDATA[Robin Haefeil]]></Value>
    </memberName>
    <memberRole>
      <Value><![CDATA[3D Artist]]></Value>
    </memberRole>
    <memberPhoto>
      <Value><![CDATA[[{"key":"b81f160c-f297-9041-8371-cf00364e3f2e","mediaKey":"23fa73bb-ab6b-204d-9b41-3ea29d597fe8","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </memberPhoto>
    <memberBio>
      <Value><![CDATA[Lead 3D Artist building the colorful, detailed worlds and characters of Cow Paradise.]]></Value>
    </memberBio>
  </Properties>
</Content>
