<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00063-0000-0000-0000-000000000063" Alias="teamMember" Level="3">
  <Info>
    <Parent Key="f1a00014-0000-0000-0000-000000000014">Team</Parent>
    <Path>/Home/Team/Thierry Clauson</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Thierry Clauson" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <memberName>
      <Value><![CDATA[Thierry Clauson]]></Value>
    </memberName>
    <memberRole>
      <Value><![CDATA[Art Director]]></Value>
    </memberRole>
    <memberPhoto>
      <Value><![CDATA[[{"key":"6ea5c968-afdc-da49-a645-bafce44dcf24","mediaKey":"7879ab51-fe69-1841-884f-17662d7700f0","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </memberPhoto>
    <memberBio>
      <Value><![CDATA[Co-Art Director focused on storytelling visuals and character animation across Cow Paradise media.]]></Value>
    </memberBio>
  </Properties>
</Content>
