<?xml version="1.0" encoding="utf-8"?>
<Media Key="d18a1e40-93cf-4428-a48e-a2d6f40b34b8" Alias="umbracoMediaVectorGraphics" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Apple App Store Platform Icon</Path>
    <Trashed>False</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-08-12T00:00:00</CreateDate>
    <NodeName Default="Apple App Store Platform Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d18a1e4093cf4428a48ea2d6f40b34b8/apple-app-store.svg]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[svg]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[1232]]></Value>
    </umbracoBytes>
  </Properties>
</Media>