<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b839eb0-f467-49ae-8f8d-936a0312f4e6" Alias="umbracoMediaVectorGraphics" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Browser Platform Icon</Path>
    <Trashed>False</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-08-12T00:00:00</CreateDate>
    <NodeName Default="Browser Platform Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3b839eb0f46749ae8f8d936a0312f4e6/browser.svg]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[svg]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[529]]></Value>
    </umbracoBytes>
  </Properties>
</Media>