<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3b37171-7225-5e4f-b221-7739512a4154" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Cow Run Cover</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-27T00:00:00</CreateDate>
    <NodeName Default="Cow Run Cover" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/e3b3717172255e4fb2217739512a4154/cowrun.webp","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[webp]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[793126]]></Value>
    </umbracoBytes>
  </Properties>
</Media>