<?xml version="1.0" encoding="utf-8"?>
<Media Key="d96668a9-85c9-cb4a-9908-61007c0d1eb7" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Ellie</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-27T00:00:00</CreateDate>
    <NodeName Default="Ellie" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d96668a985c9cb4a990861007c0d1eb7/character_1.png","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[png]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[258366]]></Value>
    </umbracoBytes>
  </Properties>
</Media>