<?xml version="1.0" encoding="utf-8"?>
<Media Key="a98c8460-30e7-48aa-b34a-1a97929d3d20" Alias="umbracoMediaVectorGraphics" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Epic Games Platform Icon</Path>
    <Trashed>False</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-08-12T00:00:00</CreateDate>
    <NodeName Default="Epic Games Platform Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a98c846030e748aab34a1a97929d3d20/epic-games.svg]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[svg]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[1985]]></Value>
    </umbracoBytes>
  </Properties>
</Media>