<?xml version="1.0" encoding="utf-8"?>
<Media Key="57c9f2eb-0d6e-1c41-9166-f36170f78c56" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Flying Moo Cover</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-27T00:00:00</CreateDate>
    <NodeName Default="Flying Moo Cover" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/57c9f2eb0d6e1c419166f36170f78c56/FlyingMoo.webp","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[webp]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[1144744]]></Value>
    </umbracoBytes>
  </Properties>
</Media>