<?xml version="1.0" encoding="utf-8"?>
<Media Key="31c7d1e7-00a5-4cac-adff-3ec5972dac55" Alias="umbracoMediaVectorGraphics" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Google Play Platform Icon</Path>
    <Trashed>False</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-08-12T00:00:00</CreateDate>
    <NodeName Default="Google Play Platform Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/31c7d1e700a54cacadff3ec5972dac55/google-play.svg]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[svg]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[996]]></Value>
    </umbracoBytes>
  </Properties>
</Media>