<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc94ad7d-6e17-d742-90e3-f2ccce286259" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Lulu</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-27T00:00:00</CreateDate>
    <NodeName Default="Lulu" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fc94ad7d6e17d74290e3f2ccce286259/character_3.png","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[png]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[126409]]></Value>
    </umbracoBytes>
  </Properties>
</Media>