<?xml version="1.0" encoding="utf-8"?>
<Media Key="22c37d11-0b00-844f-b10d-98a6304db0d6" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Moo Rash Cover</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-27T00:00:00</CreateDate>
    <NodeName Default="Moo Rash Cover" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/22c37d110b00844fb10d98a6304db0d6/MooRush.webp","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[webp]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[15118632]]></Value>
    </umbracoBytes>
  </Properties>
</Media>