<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e529864-b08c-e747-9f0e-94bbd06ce4dd" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Moo Skate Cover</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-27T00:00:00</CreateDate>
    <NodeName Default="Moo Skate Cover" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4e529864b08ce7479f0e94bbd06ce4dd/MooSkate.webp","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[webp]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[13889508]]></Value>
    </umbracoBytes>
  </Properties>
</Media>