<?xml version="1.0" encoding="utf-8"?>
<Media Key="813052a6-71f9-2849-ba9a-d72e00b88e81" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Moo Chess Cover</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-27T00:00:00</CreateDate>
    <NodeName Default="Moo Chess Cover" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/813052a671f92849ba9ad72e00b88e81/moochess.webp","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[webp]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[935118]]></Value>
    </umbracoBytes>
  </Properties>
</Media>