<?xml version="1.0" encoding="utf-8"?>
<Media Key="002c2201-0175-b94b-a1c6-4cdf2fbc5fd2" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/New Adventures Hero</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-27T00:00:00</CreateDate>
    <NodeName Default="New Adventures Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/002c22010175b94ba1c64cdf2fbc5fd2/news-gallery-3.png","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[png]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[207092]]></Value>
    </umbracoBytes>
  </Properties>
</Media>