<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d590b04-398e-4b2f-8621-7a7d6377f795" Alias="umbracoMediaVectorGraphics" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/PC Platform Icon</Path>
    <Trashed>False</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-08-12T00:00:00</CreateDate>
    <NodeName Default="PC Platform Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/8d590b04398e4b2f86217a7d6377f795/pc.svg]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[svg]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[369]]></Value>
    </umbracoBytes>
  </Properties>
</Media>