<?xml version="1.0" encoding="utf-8"?>
<Media Key="57e28fe0-2635-4992-b913-f15c18434f00" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Steam Platform Icon</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-12T00:00:00</CreateDate>
    <NodeName Default="Steam Platform Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/57e28fe026354992b913f15c18434f00/steam.png","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[png]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[0]]></Value>
    </umbracoBytes>
  </Properties>
</Media>