<?xml version="1.0" encoding="utf-8"?>
<Media Key="78e32be3-12ff-a441-8501-2082eba70ef6" Alias="Image" Level="1">
  <Info>
    <Parent Key="" />
    <Path>/Stories That Teach Hero</Path>
    <Trashed>False</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-27T00:00:00</CreateDate>
    <NodeName Default="Stories That Teach Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/78e32be312ffa44185012082eba70ef6/news-gallery-5.png","focalPoint":{"left":0.5,"top":0.5},"crops":[]}]]></Value>
    </umbracoFile>
    <umbracoExtension>
      <Value><![CDATA[png]]></Value>
    </umbracoExtension>
    <umbracoBytes>
      <Value><![CDATA[211699]]></Value>
    </umbracoBytes>
  </Properties>
</Media>