<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00015-0000-0000-0000-000000000015" Alias="shortsFolder" Level="2">
  <Info>
    <Parent Key="f1a00002-0000-0000-0000-000000000002">Home</Parent>
    <Path>/Home/Shorts</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>shortsFolder</ContentType>
    <CreateDate>2026-05-28T20:00:00</CreateDate>
    <NodeName Default="Shorts" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties />
</Content>
