<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00014-0000-0000-0000-000000000014" Alias="teamFolder" Level="2">
  <Info>
    <Parent Key="f1a00002-0000-0000-0000-000000000002">Home</Parent>
    <Path>/Home/Team</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>teamFolder</ContentType>
    <CreateDate>2026-05-18T13:00:00</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties />
</Content>
