<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00084-0000-0000-0000-000000000084" Alias="educationalGame" Level="4">
  <Info>
    <Parent Key="f1a00080-0000-0000-0000-000000000080">Games</Parent>
    <Path>/Home/Moo Family/Games/Brain Boost</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>educationalGame</ContentType>
    <CreateDate>2026-07-03T00:00:00</CreateDate>
    <NodeName Default="Brain Boost" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <eduGameTitle><Value><![CDATA[Brain Boost]]></Value></eduGameTitle>
    <eduGameDescription><Value><![CDATA[Quick mini-games that sharpen memory and focus.]]></Value></eduGameDescription>
    <eduGameCategory><Value><![CDATA[["Brain Games"]]]></Value></eduGameCategory>
    <eduGameCoverImage><Value><![CDATA[]]></Value></eduGameCoverImage>
    <eduGameIcon><Value><![CDATA[]]></Value></eduGameIcon>
    <eduGameBackgroundColor><Value><![CDATA[#FFD85B]]></Value></eduGameBackgroundColor>
    <eduGameHowToPlay><Value><![CDATA[<p>Remember the pattern, then repeat it back to clear the round.</p>]]></Value></eduGameHowToPlay>
    <eduGameAgeRange><Value><![CDATA[5-8]]></Value></eduGameAgeRange>
    <eduGameSkills><Value><![CDATA[Memory, Focus]]></Value></eduGameSkills>
    <eduGamePlayUrl><Value><![CDATA[]]></Value></eduGamePlayUrl>
    <blocks><Value><![CDATA[{"contentData":[],"settingsData":[],"layout":{"Umbraco.BlockList":[]},"expose":[]}]]></Value></blocks>
  </Properties>
</Content>
