<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00088-0000-0000-0000-000000000088" Alias="educationalGame" Level="4">
  <Info>
    <Parent Key="f1a00080-0000-0000-0000-000000000080">Games</Parent>
    <Path>/Home/Moo Family/Games/Color Studio</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>educationalGame</ContentType>
    <CreateDate>2026-07-03T00:00:00</CreateDate>
    <NodeName Default="Color Studio" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <eduGameTitle><Value><![CDATA[Color Studio]]></Value></eduGameTitle>
    <eduGameDescription><Value><![CDATA[Paint, design, and let your imagination run wild.]]></Value></eduGameDescription>
    <eduGameCategory><Value><![CDATA[["Creativity"]]]></Value></eduGameCategory>
    <eduGameCoverImage><Value><![CDATA[]]></Value></eduGameCoverImage>
    <eduGameIcon><Value><![CDATA[]]></Value></eduGameIcon>
    <eduGameBackgroundColor><Value><![CDATA[#7EC8E3]]></Value></eduGameBackgroundColor>
    <eduGameHowToPlay><Value><![CDATA[<p>Pick colors and shapes to paint your own Moo Family scene.</p>]]></Value></eduGameHowToPlay>
    <eduGameAgeRange><Value><![CDATA[3-6]]></Value></eduGameAgeRange>
    <eduGameSkills><Value><![CDATA[Creativity, Color recognition]]></Value></eduGameSkills>
    <eduGamePlayUrl><Value><![CDATA[]]></Value></eduGamePlayUrl>
    <blocks><Value><![CDATA[{"contentData":[],"settingsData":[],"layout":{"Umbraco.BlockList":[]},"expose":[]}]]></Value></blocks>
  </Properties>
</Content>
