<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00087-0000-0000-0000-000000000087" Alias="educationalGame" Level="4">
  <Info>
    <Parent Key="f1a00080-0000-0000-0000-000000000080">Games</Parent>
    <Path>/Home/Moo Family/Games/Doodle &amp; Write</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>educationalGame</ContentType>
    <CreateDate>2026-07-03T00:00:00</CreateDate>
    <NodeName Default="Doodle &amp; Write" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <eduGameTitle><Value><![CDATA[Doodle & Write]]></Value></eduGameTitle>
    <eduGameDescription><Value><![CDATA[Trace, write, and create your own words and stories.]]></Value></eduGameDescription>
    <eduGameCategory><Value><![CDATA[["Writing"]]]></Value></eduGameCategory>
    <eduGameCoverImage><Value><![CDATA[]]></Value></eduGameCoverImage>
    <eduGameIcon><Value><![CDATA[]]></Value></eduGameIcon>
    <eduGameBackgroundColor><Value><![CDATA[#FFB347]]></Value></eduGameBackgroundColor>
    <eduGameHowToPlay><Value><![CDATA[<p>Trace each letter with your finger, then write a word of your own.</p>]]></Value></eduGameHowToPlay>
    <eduGameAgeRange><Value><![CDATA[4-7]]></Value></eduGameAgeRange>
    <eduGameSkills><Value><![CDATA[Handwriting, Fine motor]]></Value></eduGameSkills>
    <eduGamePlayUrl><Value><![CDATA[]]></Value></eduGamePlayUrl>
    <blocks><Value><![CDATA[{"contentData":[],"settingsData":[],"layout":{"Umbraco.BlockList":[]},"expose":[]}]]></Value></blocks>
  </Properties>
</Content>
