<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00083-0000-0000-0000-000000000083" Alias="educationalGame" Level="4">
  <Info>
    <Parent Key="f1a00080-0000-0000-0000-000000000080">Games</Parent>
    <Path>/Home/Moo Family/Games/Number Garden</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>educationalGame</ContentType>
    <CreateDate>2026-07-03T00:00:00</CreateDate>
    <NodeName Default="Number Garden" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <eduGameTitle><Value><![CDATA[Number Garden]]></Value></eduGameTitle>
    <eduGameDescription><Value><![CDATA[Grow a garden by solving simple math puzzles.]]></Value></eduGameDescription>
    <eduGameCategory><Value><![CDATA[["Numbers"]]]></Value></eduGameCategory>
    <eduGameCoverImage><Value><![CDATA[]]></Value></eduGameCoverImage>
    <eduGameIcon><Value><![CDATA[]]></Value></eduGameIcon>
    <eduGameBackgroundColor><Value><![CDATA[#1ECDD2]]></Value></eduGameBackgroundColor>
    <eduGameHowToPlay><Value><![CDATA[<p>Solve each math puzzle to water a seed and watch your garden grow.</p>]]></Value></eduGameHowToPlay>
    <eduGameAgeRange><Value><![CDATA[4-7]]></Value></eduGameAgeRange>
    <eduGameSkills><Value><![CDATA[Counting, Addition]]></Value></eduGameSkills>
    <eduGamePlayUrl><Value><![CDATA[]]></Value></eduGamePlayUrl>
    <blocks><Value><![CDATA[{"contentData":[],"settingsData":[],"layout":{"Umbraco.BlockList":[]},"expose":[]}]]></Value></blocks>
  </Properties>
</Content>
