<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00086-0000-0000-0000-000000000086" Alias="educationalGame" Level="4">
  <Info>
    <Parent Key="f1a00080-0000-0000-0000-000000000080">Games</Parent>
    <Path>/Home/Moo Family/Games/Story Explorer</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>educationalGame</ContentType>
    <CreateDate>2026-07-03T00:00:00</CreateDate>
    <NodeName Default="Story Explorer" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <eduGameTitle><Value><![CDATA[Story Explorer]]></Value></eduGameTitle>
    <eduGameDescription><Value><![CDATA[Read along with the Moo Family and discover new tales.]]></Value></eduGameDescription>
    <eduGameCategory><Value><![CDATA[["Reading"]]]></Value></eduGameCategory>
    <eduGameCoverImage><Value><![CDATA[]]></Value></eduGameCoverImage>
    <eduGameIcon><Value><![CDATA[]]></Value></eduGameIcon>
    <eduGameBackgroundColor><Value><![CDATA[#A0E7A0]]></Value></eduGameBackgroundColor>
    <eduGameHowToPlay><Value><![CDATA[<p>Read along and tap the highlighted words to hear them out loud.</p>]]></Value></eduGameHowToPlay>
    <eduGameAgeRange><Value><![CDATA[5-8]]></Value></eduGameAgeRange>
    <eduGameSkills><Value><![CDATA[Reading comprehension, Vocabulary]]></Value></eduGameSkills>
    <eduGamePlayUrl><Value><![CDATA[]]></Value></eduGamePlayUrl>
    <blocks><Value><![CDATA[{"contentData":[],"settingsData":[],"layout":{"Umbraco.BlockList":[]},"expose":[]}]]></Value></blocks>
  </Properties>
</Content>
