<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00082-0000-0000-0000-000000000082" Alias="educationalGame" Level="4">
  <Info>
    <Parent Key="f1a00080-0000-0000-0000-000000000080">Games</Parent>
    <Path>/Home/Moo Family/Games/Word Sprint</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>educationalGame</ContentType>
    <CreateDate>2026-07-03T00:00:00</CreateDate>
    <NodeName Default="Word Sprint" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <eduGameTitle><Value><![CDATA[Word Sprint]]></Value></eduGameTitle>
    <eduGameDescription><Value><![CDATA[Race through colorful words at your own pace.]]></Value></eduGameDescription>
    <eduGameCategory><Value><![CDATA[["Words"]]]></Value></eduGameCategory>
    <eduGameCoverImage><Value><![CDATA[]]></Value></eduGameCoverImage>
    <eduGameIcon><Value><![CDATA[]]></Value></eduGameIcon>
    <eduGameBackgroundColor><Value><![CDATA[#3FBDF1]]></Value></eduGameBackgroundColor>
    <eduGameHowToPlay><Value><![CDATA[<p>Read the word, then swipe to the matching picture before the timer runs out.</p>]]></Value></eduGameHowToPlay>
    <eduGameAgeRange><Value><![CDATA[5-7]]></Value></eduGameAgeRange>
    <eduGameSkills><Value><![CDATA[Vocabulary, Reading speed]]></Value></eduGameSkills>
    <eduGamePlayUrl><Value><![CDATA[]]></Value></eduGamePlayUrl>
    <blocks><Value><![CDATA[{"contentData":[],"settingsData":[],"layout":{"Umbraco.BlockList":[]},"expose":[]}]]></Value></blocks>
  </Properties>
</Content>
