<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a00047-0000-0000-0000-000000000047" Alias="newsArticle" Level="3">
  <Info>
    <Parent Key="f1a00012-0000-0000-0000-000000000012">News</Parent>
    <Path>/Home/News/Innovative Ways to Teach Shapes and Colors to Your Children at Home</Path>
    <Trashed Locked="False">False</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-08-12T00:00:00</CreateDate>
    <NodeName Default="Innovative Ways to Teach Shapes and Colors to Your Children at Home" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00000000-0000-0000-0000-000000000000" />
  </Info>
  <Properties>
    <newsTitle>
      <Value><![CDATA[Innovative Ways to Teach Shapes and Colors to Your Children at Home]]></Value>
    </newsTitle>
    <newsExcerpt>
      <Value><![CDATA[Simple, screen-light activities that turn everyday objects around the house into a first lesson in shape and colour.]]></Value>
    </newsExcerpt>
    <newsBody>
      <Value><![CDATA[<p>Shapes and colours are the first vocabulary a child has for describing the world, and they are learned fastest away from a worksheet.</p><p>These activities need nothing you do not already own, and each one takes about ten minutes.</p>]]></Value>
    </newsBody>
    <newsHeroImage>
      <Value><![CDATA[[{"key":"f1a00047-0000-0001-0000-000000000001","mediaKey":"0cf3ebbb-bc50-b442-8645-0dd01870001b","mediaTypeAlias":"Image","crops":[],"focalPoint":null}]]]></Value>
    </newsHeroImage>
    <newsPublishedDate>
      <Value><![CDATA[2024-05-15T00:00:00]]></Value>
    </newsPublishedDate>
    <newsCategory>
      <Value><![CDATA[["Creative Arts"]]]></Value>
    </newsCategory>
    <newsTags>
      <Value><![CDATA[["Education","Creative Kids","Activities"]]]></Value>
    </newsTags>
    <newsRelatedArticles>
      <Value><![CDATA[]]></Value>
    </newsRelatedArticles>
    <newsBodyBlocks>
      <Value><![CDATA[]]></Value>
    </newsBodyBlocks>
  </Properties>
</Content>
